:root {
  --color-accent: oklch(65% 50% 240)
}

html {
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    width: 90%;
    max-width: 70ch;
    margin-inline: auto; 
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFDAB9;
    color: whitesmoke; 
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }

  nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    background-color: oklch(65% 50% 240); 
    color: white;
    padding: 0.5rem;
    font-weight: bold;
  }

  nav a.current {
    background-color: lightblue;
    color: var(--color-accent);
    border-radius: 5px;
    border-width: 0.4em;
    border-bottom: 0.4em solid oklch(60% 40% 210); 
    padding-bottom: 0.1em;
  }


  nav a:hover {
    background-color: lightblue;
    color: white;
    border-bottom: 0.1em solid var(--color-accent);
  }
